/* Add CSS Styling */
p {
    background-color: lightpink;
    font-family: Tahoma, sans-serif;
}

p.num3 {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}

#num4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}